#login_long
  = form_for(:user, :url => {:action => 'set_new_password', :id => @user.id}) do |f|
    = f.error_messages
    #login_info
      = f.label :password
      = f.password_field :password
      %br
      = f.label "Confirm"
      = f.password_field   :pwd_confirmation
    #login_options
      = f.submit "Save New Password"