= form_for(@user, :url => {:action => 'create'}) do |f|
  = f.error_messages
  %table
    %tr
      %td= f.label :first_name
      %td= f.text_field :first_name
    %tr
      %td= f.label :last_name
      %td= f.text_field :last_name
    %tr
      %td= f.label :email_address
      %td= f.email_field :username
    %tr
      %td= f.label "Handle"
      %td= f.text_field :cb_name
    %tr
      %td= f.label :password
      %td= f.password_field :pwd
    %tr
      %td= f.label :password_confirmation
      %td= f.password_field :pwd_confirmation
  %div{:style => "max-width:350px"}
    By clicking submit you are agreeing to our
    = link_to 'terms and conditions', {:controller => 'roundup', :action => 'terms'}, {:id => 'terms_link', :remote => true}
    and our
    = link_to 'privacy policy', {:controller => 'roundup', :action => 'privacy'}, {:id => 'privacy_link', :remote => true}
    %br
    = f.submit "Sign up"
    :javascript
      $('#terms_link').click(function(){
        window.open('/TRRUTermsConditions.pdf', '_blank')
      })
    :javascript
      $('#privacy_link').click(function(){
        window.open('/TRRUPrivacyPolicy.pdf', '_blank')
      })