%div{:id => "option_full_#{friend.id}"}
  %table
    %tr
      %td{:rowspan => 2}= link_to image_tag(friend.profile_image.nil? ? 'redneck_roundup_logo.png' : friend.profile_image.thumbnail_url, :size => "60x60"), {:action => 'send_friend_request_full', :id => friend.id}, :remote => true
      %td= link_to friend.handle, {:action => 'send_friend_request_full', :id => friend.id}, :remote => true
    %tr
      %td
        = friend.first_name
        = friend.last_name
