%html
  %head
    %title
      Redneck Roundup
    = stylesheet_link_tag    "#{generate_media}", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  #title_bar
    = link_to image_tag('redneck_roundup_logo_alt.png', :height => 76, :width => 210), {:controller => 'roundup', :action => 'index'}
    - if session[:current_user].nil? == true
      = render :partial => 'login_form'
    - else
      = render :partial => 'roundup/user_status'
  #ad_center
    = render :partial => 'advertiser/advertisement', :collection => generate_advertisements
    #advertiser_request_form{:style => "display:none"}
    = link_to image_tag('advertisors.gif', :size => '230x500'), {:controller => 'advertiser', :action => 'show_request_form'}, :id => "advertiser_link", :remote => true
  = yield