%html
  %head
    %title
      Redneck Roundup
    = stylesheet_link_tag    "#{generate_media}", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  #title_bar
    = link_to image_tag('redneck_roundup_logo_alt.png', :height => 76, :width => 210), {:controller => 'roundup', :action => 'index'}
    - if session[:current_user].nil? == true
      = render :partial => 'login_form'
    - else
      = render :partial => 'roundup/user_status'
  #ad_center
    = render :partial => 'advertiser/advertisement', :collection => generate_advertisements
    #advertiser_request_form{:style => "display:none"}
    = link_to image_tag('advertisers.png', :size => '230x500'), {:controller => 'advertiser', :action => 'show_request_form'}, :id => "advertiser_link", :remote => true
  = yield
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36737288-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();